<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
  </header>
  <!-- Hero Section -->
  <section class="hero">    
    <p class="tagline">PIZZA ORDER SCRIPT</p>
  </section>
  
	
	
  <!-- InfoMessage -->
  <!-- InfoMessage -->
	
  
  <!-- login section -->
  <section class="logout">
	<form action='?logout=1' method='post'>            
      <span class ='userCntrlInfo'>Angemeldet als: [%loginName%]</span>
	  <span class ='userCntrlInfo'>Guthaben: [%money%] €</span>
      <span class ='userCntrlOptions'>
         <input type='submit' value='ausloggen'>
	  </span>
 	</form>		
  	<a href="index.php"><<< zurück</a>
  </section>
  <!-- login section -->
  <!-- finish order section -->
  <section class="finishOrder">
  	<div class=''> </div>
  </section>
  <!-- finish order section -->
  <!-- bank section -->
  <section class=bank>
	  <div class="bank">
		  <form method='post'>
		  Geldbetrag wählen :<input type='number' min="0.50" max="50.00" step="0.50" value="10.00" name='amount'/> € 
		  		 
		  <select name="customer_id">
			<!-- bank section customer bankInput-->
			<option value="[%bank_customer_user_ID%]">[%bank_customer_login%]</option>
			<!-- bank section customer bankInput-->
		  </select> 
		  <input type='submit' value='Betrag einbezahlen'   name='eventButtonBankInput'/>
		  </form>
	  </div>
  </section>
  <!-- bank section -->
  
 <div class="bank">
	 gesamtes virtuelles Guthaben (aller Mitarbeiter) : [%completeAmount%] €
 </div>
  <!-- bank protocol section -->
  <section class=orderItems>  
    <div class='orderItem'>           
        <div class='orderList'>           
           <div class='bankItem'>
               <span class='bankItemId'>Vorgang Nr.</span>                       
			   <span class='bankItemTimestamp'>Zeitpunkt</span>
               <span class='bankItemBanker'>Bearbeiter</span>                     
               <span class='bankItemCustomer'>Konto</span>
               <span class='bankItemAmount'>Betrag</span>			   
           </div>

		   <!-- bank items section row -->
		   <!-- bank items section row odd -->
           <div class='bankItemOdd'>
               <span class='bankItemId'>[%bankId%]</span>                       
			   <span class='bankItemTimestamp'>[%bankTimestamp%]</span>
               <span class='bankItemBanker'>[%banker%]</span>                     
               <span class='bankItemCustomer'>[%account%]</span>
               <span class='bankItemAmount'>[%amount%] €</span>			   
           </div>
		   <!-- bank items section row odd -->
		   <!-- bank items section row even -->
			<div class='bankItemEven'>
               <span class='bankItemId'>[%bankId%]</span>                       
			   <span class='bankItemTimestamp'>[%bankTimestamp%]</span>
               <span class='bankItemBanker'>[%banker%]</span>                     
               <span class='bankItemCustomer'>[%account%]</span>
               <span class='bankItemAmount'>[%amount%] €</span>			   
           </div>
			<!-- bank items section row even -->			
			<!-- bank items section row -->			
		</div>
	</div>
  </section>	
  <!-- bank protocol section -->

  <section class=copyright>
	<div class="copyright">		
		<p>PIZZA ORDER SCRIPT v. [%version%]</p>
	</div>	 	  
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>