<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">
<script src="script.js"></script>
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> </header>
  <!-- Hero Section -->
  <section class="hero">
    <p class="tagline">PIZZA ORDER SCRIPT</p>
  </section>
  
  <!-- InfoMessage --> 
  <!-- InfoMessage --> 
  
  <!-- login section -->
  <section class="logout">
    <div class="userControlpanel"> <span class ='userCntrlLogin'>[%loginName%]</span> <span class ='userCntrlMoney'>Guthaben: [%money%] €</span> </div>
    <div class="userControlpanel"> <span class ='userCntrlLink'> <a href="index.php"><<< zurück</a> </span><span class ='userCntrlLink'> <a href="?logout=1">Logout</a> </span> <span class ='userCntrlLink'> <a href="bank.php">Zahlungsverlauf</a> </span> <span class ='userCntrlLink'> <a href="history.php">letzte Bestellungen</a> </span></div>
	 <div class="bankHeader"> gesamtes virtuelles Guthaben (aller Mitarbeiter) : [%completeAmount%] € </div>
  </section>
  <!-- login section --> 
  <!-- finish order section -->
  <section class="finishOrder">
    <div class=''> </div>
  </section>
  <!-- finish order section --> 
  <!-- bank section -->
  <section class=bank>
    <div class="bank">
	  <p class="bankTransfer">Geld einbezahlen</p>
      <form method='post'>
        Geldbetrag wählen :
        <input type='number' min="-50.00" max="50.00" step="0.01" value="10.00" name='amount'/>
        €, Kontoinhaber
        <select name="customer_id">
          <!-- bank section customer bankInput-->
          <option value="[%bank_customer_user_ID%]">[%bank_customer_login%]</option>
          <!-- bank section customer bankInput-->
        </select>
        <input type='submit' value='einbezahlen'   name='eventButtonBankInput' onclick='playAudio(`payin.wav`)' />
      </form>
    </div>
  </section>
  <!-- bank section -->
  
  <!-- customer section -->
  <section class=bank>
    <div class="bank">
	  <p class="bankTransfer">Geld an Freund überweisen</p>
      <form method='post'>
        Geldbetrag wählen :
        <input type='number' min="0.01" max="[%money%]" step="0.01" value="[%money%]" name='amount'/>
        €, Kontoinhaber
        <select name="customer_id">
          <!-- customer section transfer -->
          <option value="[%bank_customer_user_ID%]">[%bank_customer_login%]</option>
          <!-- customer section transfer -->
        </select>
        <input type='submit' value='überweisen'   name='eventButtonBankTransfer' onclick='playAudio(`transfer.wav`)' />
      </form>
    </div>
  </section>
  <!-- customer section -->
	  
 
  <!-- bank protocol section -->
  <section class=orderItems>
    <div class='orderItem'>
      <div class='tableHeader'>
        <div class='bankItem'> <span class='bankItemId'>Vorgang Nr.</span> <span class='bankItemTimestamp'>Zeitpunkt</span> <span class='bankItemBanker'>Bearbeiter</span> <span class='bankItemCustomer'>Konto</span> <span class='bankItemAmount'>Betrag</span> </div>
        
        <!-- bank items section row --> 
        <!-- bank items section row odd -->
        <div class='tableRowOdd'> <span class='bankItemId'>[%bankId%]</span> <span class='bankItemTimestamp'>[%bankTimestamp%]</span> <span class='bankItemBanker'>[%banker%]</span> <span class='bankItemCustomer'>[%account%]</span> <span class='bankItemAmount'>[%amount%] €</span> </div>
        <!-- bank items section row odd --> 
        <!-- bank items section row even -->
        <div class='tableRowEven'> <span class='bankItemId'>[%bankId%]</span> <span class='bankItemTimestamp'>[%bankTimestamp%]</span> <span class='bankItemBanker'>[%banker%]</span> <span class='bankItemCustomer'>[%account%]</span> <span class='bankItemAmount'>[%amount%] €</span> </div>
        <!-- bank items section row even --> 
        <!-- bank items section row --> 
      </div>
    </div>
  </section>
  <!-- bank protocol section -->
  
  <section class=copyright>
    <div class="copyright">
      <p>PIZZA ORDER SCRIPT v. [%version%]</p>
    </div>
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>