<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
  </header>
  <!-- Hero Section -->
  <section class="hero">
    <p class="tagline">PIZZA ORDER SCRIPT</p>
    <p class="tagline">BEstellVERLAUF </p>
  </section>
  

	
  <!-- InfoMessage -->
  <!-- InfoMessage -->
  
  <!-- history items section -->
	<a href="index.php"><<< zurück</a>
  <section class=historyItems>  
    <div class='historyItem'>           
        <div class='historyList'>           
           <div class='historyItem'>
               <span class='historyId'>ID</span>                       
               <span class='historyTimestamp'>Datum</span>                     
			   <span class='historyState'>Status</span>
               <span class='historySupplier'>Lieferrant</span>
               <span class='historyUserId'>Besteller</span>	
			   <span class='historyDetails'></span>
           </div>

		   <!-- history items section row -->
		   <!-- history items section row odd -->
           <div class='historyItemOdd'>			   
			   <form action='' method='post'>
			     <span class='historyId'>[%historyId%]</span>
				   <span class='historyTimestamp'>[%historyTimestamp%]</span>                   
				   <span class='historyState'>[%historyState%]</span>
				   <span class='historySupplier'>[%historySupplier%]</span>	
				   <span class='historyUserId'>[%userId%]</span>
				   <span class='historyDetails'>[%details%]</span>				   
			   </form>
          </div>
		   <!-- history items section row odd -->
		   <!-- history items section row even -->
           <div class='historyItemEven'>			   
			   <form action='' method='post'>
				   <span class='historyId'>[%historyId%]</span>
				   <span class='historyTimestamp'>[%historyTimestamp%]</span>                   
				   <span class='historyState'>[%historyState%]</span>
				   <span class='historySupplier'>[%historySupplier%]</span>	
				   <span class='historyUserId'>[%userId%]</span>
				   <span class='historyDetails'>[%details%]</span>
			   </form>
            </div>
			<!-- history items section row even -->			
			
			<!-- history items section row -->			
		</div>
	</div>
  </section>	
  <!-- history items section -->

  <section class=copyright>
	<div class="copyright">		
		<p>PIZZA ORDER SCRIPT v. [%version%]</p>
	</div>	 	  
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>