<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
  </header>
	
  <!-- InfoMessage -->
  <section class="hero"> 
    <p id="messagetext" class="messageline"></p>
  </section>
  <!-- InfoMessage -->
	
  <!-- Hero Section -->
  <section class="hero">    
    <p class="tagline">PIZZA ORDER SCRIPT</p>
  </section>  	

	
  <!-- login section -->
  
  <div class="loginRegister">
    <span class ='login'>
	<form action="" method="post">
		<div class="text_row">			
			<p class="text_column">Login</p>
			<p class="text_column"><input size="25" maxlength="250" name="login" type="text"></p>
		</div>
		<div class="text_row">
			<p class="text_column">Passwort </p>
			<p class="text_column"><input size="25" maxlength="250" name="password" type="password"></p>
			<p class="text_column"><input type='submit' value='einloggen' name="eventButtonLogin"></p>				   
		</div>	 	
 	 </form>
   </span>
 <span class ='register'>   
    <form action="" method="post">
		<div class="text_row">
			<p class="text_column">Login</p>
			<p class="text_column"><input size="25" maxlength="250" name="login" type="text"></p>
		</div>
		<div class="text_row">
			<p class="text_column">Passwort </p>
			<p class="text_column"><input size="25" maxlength="250" name="password" type="password"></p>
		</div>
		<div class="text_row">
			<p class="text_column">Passwort wiederholen</p>
			<p class="text_column"><input size="25" maxlength="250" name="password2" type="password"></p>
		</div>	
		<div class="text_row">
			<input type="submit" value="registrieren" name="eventButtonRegister">
		</div>
  	</form>
  </span>

  </div>

  <!-- login section -->
  <!-- register section -->
  <!-- register section -->
  
  <!-- logout section -->
  <section class="logout">	
	<form action='?logout=1' method='post'>            
      <span class ='userCntrlInfo'>Angemeldet als: [%loginName%]</span>
	  <span class ='userCntrlInfo'>Guthaben: [%money%] €</span>
	  <span class ='userCntrlInfo'>bisher ausgegebenes Geld: [%moneySpent%] €</span>
      <span class ='userCntrlOptions'>
         <input type='submit' value='ausloggen'>
	  </span>
 	</form>		
	  
    <a href="bank.php">Zahlungsverlauf anzeigen</a>
	<br><a href="history.php">letzte Bestellungen anzeigen</a>
  </section>
  <!-- logout section -->
  <!-- finish order section -->
  <section class="finishOrder">
  	<div class=''>
		<form action='?finish' method='post'>
		<input type='submit' value='Bestellung abschließen'  name='finish'/>
		<input type='hidden' value='' name='supplierCard_ID'/>
		</form>
	</div>
  </section>
  <!-- finish order section -->
  
  <!-- new order section -->
  <section class=startNewOrder>
	  <div class="startNewOrder">
		<form method='post'>
		<!-- HEADER -->
		<div class="text_row">Bestellung starten:</div>
		<p class="text_row">
		  <div class="text_column">Lieferant</div>
			<div class="text_column">[%supplierList%]</div>
		</p>		

		<div class="text_row">
			<div class="text_column">Deadline für eingehende Bestellungen</div>
			<div class="text_column"><select name='timeFreezeHH' width='100'>[%countDwnHH%]</select>:
				<select name='timeFreezeMM' width='100'>[%countDwnMM%]</select> Uhr
			</div>

			<div class="text_row"><input type='submit' value='Bestellung starten' name='eventButtonStartNewOrder'></div>

		</div>		
		</form>
	  </div>
  </section>
  <!-- new order section -->
	
  <!-- order finished section -->
  <section class=orderFinished> 
	    <div class=''>
        <form action='' method='post'>
			<input type='submit' value='neue Bestellung starten'  name='restart'/>
			<input type='hidden' value='' name='eventButtonRestartOrder'/>
        </form>
    </div>
  </section>
  <!-- order finished section -->
	
  <!-- incoming orders section -->
  <section class=orderRunning>
	  <div class='currentOrder'>
	    <div class='currentOrderRow'>                 				
		<center>		
			<div id='countdownFreeze'>
			</div>
			Bestellung bei [%supplierName%] wurde von [%orderOwner%] am [%timestamp%] Uhr gestartet<br>
			aktuelle Bestellungen: </center>                
		</div>
		  

            <div class='currentOrderRow'>                                       
              <span class='currentOrderBlank'>Status</span>                         
              <span class='currentOrderNr'>Nr.</span>             
              <span class='currentOrderName'>Beschreibung</span>  
              <span class='currentOrderLogin'>Besteller</span>
              <span class='currentOrderComment'>Kommentar</span>                
              <span class='currentOrderPrice'>Preis</span>
			</div>							
			
			<!-- incoming orders section row odd -->
			<div class='currentOrderRowOdd'>
                <span class='currentOrderBlank'>[%killOrder%]
												[%virtualPay%]
												[%payState%]</span>			
                <span class='currentOrderNr'>[%supplierCardNr%]</span>         
                <span class='currentOrderName'>[%orderName%]</span>                  
                <span class='currentOrderLogin'>[%login%]</span>
                <span class='currentOrderComment'>[%comment%]</span>                  
                <span class='currentOrderPrice'>[%price%]</span>             
            </div>
			<!-- incoming orders section row odd -->
			<!-- incoming orders section row even -->
		  	<div class='currentOrderRowEven'>
                <span class='currentOrderBlank'>[%killOrder%]
												[%virtualPay%]
												[%payState%]</span>			
                <span class='currentOrderNr'>[%supplierCardNr%]</span>         
                <span class='currentOrderName'>[%orderName%]</span>                  
                <span class='currentOrderLogin'>[%login%]</span>
                <span class='currentOrderComment'>[%comment%]</span>                  
                <span class='currentOrderPrice'>[%price%]</span>             
            </div>
			<!-- incoming orders section row even -->
			
			<br>
			<div class='currentOrder'>
				<span class='sumUpTxt'>[%orderCount%] Bestellung(en), Summe gesamt =</span>            
				<span class='sumUpPrice'>[%orderSum%] € </span>
			</div>
		  
		  	<div class='currentOrder'>
				<span class='sumUpTxt'></span>            
				<span class='sumUpPrice'>__________ </span>
			</div>
		  
			<div class='currentOrder'>
				<span class='sumUpTxt'>...davon bar bezahlt =</span>            
				<span class='sumUpPrice'>[%orderSumRealMoney%] € </span>
			</div>
		
			<div class='currentOrder'>
				<span class='sumUpTxt'>...davon virtuell bezahlt =</span>            
				<span class='sumUpPrice'>[%orderSumVirtualMoney%] € </span>
			</div>
		  
		    <div class='currentOrder'>
				<span class='sumUpTxt'>...davon noch ausstehend =</span>            
				<span class='sumUpPrice'>[%orderSumToGet%] € </span>
			</div>
		  <!-- order deadline -->
	      <div class='orderDeadline'>
		  	Deadline dieser Sammelbestellung:  [%orderDeadline%]
		  </div>
		  <div class='orderDeadlineProgressBar' id='progressbar'>
			  <div class='orderDeadlineProgressBarPosition' id='progressbarPosition'>
			  </div>
		  </div>
		  <br>
		  <!-- order deadline -->
		  
		  <!-- order arrival info -->
		  <div class='orderArrival'>
			  Telefon: [%phoneNumber%]
		  </div>
		  
	      <div class='orderArrival'>
		    Ankuft der Bestellung voraussichtlich: [%orderArrival%] h
		  <br>
		  
			  Falls Bestellung schon da ist, hier melden:
		  <form action="" method="post">  
				<input value="Lieferung ist da!" type="submit" name="eventButtonOrderArrived">		 		
		  </form>
		  <br>
		  </div>
		  <!-- order arrival info -->
		  
		  <!-- order arrival info storno-->
		  <div class='orderArrival'>
		  <form action="" method="post">  
		  		<input value="Sorry Falschalarm" type="submit" name="eventButtonOrderArrivedStorno">		 		
		  </form>
		  </div>
		  <!-- order arrival info storno-->
		  
		  <!-- order arrival control -->
		  <div class='orderArrival'>
			  <form action="" method="post">

					Ankuftszeit anpassen:  
					<select name='timeArrivalHH' width='100'>[%timeArrivalHH%]</select> :
					<select name='timeArrivalMM' width='100'>[%timeArrivalMM%]</select> Uhr			
					<input value="übernehmen" type="submit" name="eventButtonUpdateArrival">		 		
			  </form>
		  </div>
	      <!-- order arrival control -->
		  
		  <!-- order arrived -->
		  <div class='orderArrival'>
		  [%orderArrivalLogin%] @ [%orderArrivalTime%] h <br>
		  Lieferung ist da!!!
		  </div>
		  <!-- order arrived -->
		  
		<!-- incoming orders sumup -->
			<center>        
			<br> Zusammenfassung der Bestellung: <br>                      
			<div class='currentOrder'>
					<div class='sumUpOrderHeader'>
						<span class='sumUpOrderItemCount'>Anzahl</span>
						<span class='sumUpOrderItemNr'>Nr.</span>
						<span class='sumUpOrderItem'>Bestellung</span>
						<span class='sumUpOrderItem'>Kommentar</span>				
					</div>			
					<!-- incoming orders final -->
					<!-- incoming orders final odd row-->
					<div class='sumUpOrderOdd'>
						<span class='sumUpOrderItemCount'>[%finalCount%]x</span>
						<span class='sumUpOrderItemNr'>[%finalNumber%]</span>
						<span class='sumUpOrderItem'>[%finalName%]  </span>
						<span class='sumUpOrderItem'>[%finalComment%]</span>				
					</div>
					<!-- incoming orders final odd row-->
					<!-- incoming orders final even row-->
					<div class='sumUpOrderEven'>
						<span class='sumUpOrderItemCount'>[%finalCount%]x</span>
						<span class='sumUpOrderItemNr'>[%finalNumber%]</span>
						<span class='sumUpOrderItem'>[%finalName%]  </span>
						<span class='sumUpOrderItem'>[%finalComment%]</span>				
					</div>
					<!-- incoming orders final even row-->
					<!-- incoming orders final -->
            </div>    
			<br>
			</center>                
		</div>
	  	<!-- incoming orders sumup -->
		
  </section>	
  <!-- incoming orders section -->
  
  <!-- order items section -->
  <section class=orderItems>  
    <div class='orderItem'>           
        <div class='orderList'>           
           <div class='orderItem'>
               <span class='orderItemButton'></span>                       
               <span class='orderItemNr'>Nr</span>                     
               <span class='orderItemName'>Beschreibung</span>
               <span class='orderItemIngredients'>Zutaten</span>
			   <span class='orderItemPrice'>Preis</span>
           </div>

		   <!-- order items section row -->
		   <!-- order items section row odd -->
           <div class='orderItemOdd'>			   
			   <form action='' method='post'>
				   <span class='orderItemButton'>[%orderButton%]</span>
				   <span class='orderItemNr'>[%orderNr%]</span>                   
				   <span class='orderItemName'>[%orderName%]</span>
				   <span class='orderItemIngredients'>[%orderIngredients%]</span>	
				   <span class='orderItemPrice'>[%price%] €</span>
			   </form>
            </div>
		   <!-- order items section row odd -->
		   <!-- order items section row even -->
           <div class='orderItemEven'>			   
			   <form action='' method='post'>
				   <span class='orderItemButton'>[%orderButton%]</span>
				   <span class='orderItemNr'>[%orderNr%]</span>                   
				   <span class='orderItemName'>[%orderName%]</span>
				   <span class='orderItemIngredients'>[%orderIngredients%]</span>	
				   <span class='orderItemPrice'>[%price%] €</span>
			   </form>
            </div>
			<!-- order items section row even -->			
			
			<!-- order items section row -->			
		</div>
	</div>
  </section>	
  <!-- order items section -->

  <section class=copyright>
	<div class="copyright">		
		<p>PIZZA ORDER SCRIPT v. [%version%]</p>
	</div>	 	  
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>