<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> </header>
  <!-- Hero Section -->
  <section class="hero">
    <p class="tagline">PIZZA ORDER SCRIPT</p>
    <p class="tagline">LOGIN UND / ODER PASSWORT ÄNDERN</p>
  </section>
  
  <!-- InfoMessage -->
  <section class="hero">
    <p id="messagetext" class="messageline"></p>
  </section>
  <!-- InfoMessage --> 
  
  <!-- login section -->
  
  <div class="loginRegister"> <span class ='register'>
    <form action="" method="post">
      <div class="text_row">
        <p class="text_column">Login</p>
        <p class="text_column">
          <input size="25" maxlength="250" name="login" type="text" value="[%login%]">
        </p>
      </div>
      <div class="text_row">
        <p class="text_column">Passwort </p>
        <p class="text_column">
          <input size="25" maxlength="250" name="password" type="password">
        </p>
      </div>
      <div class="text_row">
        <p class="text_column">Passwort wiederholen</p>
        <p class="text_column">
          <input size="25" maxlength="250" name="password2" type="password">
        </p>
      </div>
      <div class="text_row">
        <input type="submit" value="speichern" name='eventButtonChangePw'>
      </div>
    </form>
    </span> </div>
  
  <!-- login section -->
  
  <section class=copyright>
    <div class="copyright">
      <p>PIZZA ORDER SCRIPT v. [%version%]</p>
    </div>
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>