<!doctype html>
<html lang="en-US">
<head>
<title>Pizzabestellskript</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="template/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header>
  </header>
  <!-- Hero Section -->
  <section class="hero">    
    <p class="tagline">PIZZA ORDER SCRIPT</p>
  </section>  
  <!-- create db section -->
  <section class="register">	 
    <h2 class="hidden">register</h2>
    <form action="?register=1" method="post">
		<div class="text_row">
			<p class="text_column">Login</p>
			<p class="text_column"><input size="25" maxlength="250" name="login" type="text"></p>
		</div>
		<div class="text_row">
			<p class="text_column">Passwort </p>
			<p class="text_column"><input size="25" maxlength="250" name="password" type="password"></p>
		</div>
		<div class="text_row">
			<p class="text_column">Passwort wiederholen</p>
			<p class="text_column"><input size="25" maxlength="250" name="password2" type="password"></p>
		</div>	
		<div class="text_row">
			<input type="submit" value="datenbank erstellen">
		</div>
  	</form>
  </section>
  <!-- create db section -->

	
  <!-- admin order section -->
  <section class=adminOrderControll> 
  <div class='adminUserControll'> 
	  <form action="" method="post">
  		   aktueller Besteller:
	  	  <select name="newOrderer" 	onchange="document.getElementById('selected_text').value=this.options[this.selectedIndex].text">
			<!-- admin current orderer -->
			<!-- admin current orderer item -->
			<option value="[%current_orderer_user_ID%]" [%selected%]>[%current_orderer_login%]</option>			  
			<!-- admin current orderer item -->
		    <!-- admin current orderer -->
		  </select> 
		  <input type='submit' value='speichern'   name='eventButtonSetCurrentOrderer'/>
		  <input type="hidden" name="selected_text" id="selected_text" value="" />
		  </form>
  </div>
  </section>
  <!-- admin order section -->
  <!-- admin user section -->
  <section class=adminUserControll>  
    <div class='adminUserControll'>           
        <div class='adminUserList'>           
           <div class='adminUserItemHead'>
               <span class='adminUserLogin'>Login</span>                       
               <span class='adminUserIsAdmin'>admin rights</span>                     
               <span class='adminUserIsBank'>bank rights</span>  
			   <span class='adminUserResetcode'>pw reset code</span>
           </div>

		   <!-- admin user section row -->
		   <!-- admin user section row odd -->
           <div class='adminItemOdd'>			   
			   <form action='' method='post'>
				   <span class='adminUserLogin'>[%userLogin%]</span>  
				   <span class='adminUserIsAdmin'>[%checkboxAdminrights%]</span>  
				   <span class='adminUserIsBank'>[%checkboxIsBank%]</span>  
				   <span class='adminUserResetcode'>[%resetcode%]</span>
			   </form>
            </div>
		   <!-- admin user section row odd -->
		   <!-- admin user section row even -->
           <div class='adminItemEven'>			   
			   <form action='' method='post'>
				   <span class='adminUserLogin'>[%userLogin%]</span>
				   <span class='adminUserIsAdmin'>[%checkboxAdminrights%]</span>                   
				   <span class='adminUserIsBank'>[%checkboxIsBank%]</span>
				   <span class='adminUserResetcode'>[%resetcode%]</span>
			   </form>
            </div>
			<!-- admin user section row even -->			
			
			<!-- admin user section row -->			
		</div>
	</div>
  </section>	
  <!-- admin user section -->

  <section class=copyright>
	<div class="copyright">		
		<p>PIZZA ORDER SCRIPT v. [%version%]</p>
	</div>	 	  
  </section>
</div>
<!-- Main Container Ends -->
</body>
</html>