@charset "UTF-8";
/* Body */
body {
	font-family: verdana;
	background-color: #212121;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
	padding: 0;
	color: #FFFFFF;
}
.userControlpanel {
	width:x;
}
.userCntrlLogout {
	width: 156px;
	float: top;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #4D0404;
}
a {
	color: #FFFFFF;
}
/* unvisited link */
a:link {
	color: #FFFFFF;
}
/* visited link */
a:visited {
	color: #8B8B8B;
}
/* mouse over link */
a:hover {
	color: #FFFFFF;
	font-weight: bold;
}
/* selected link */
a:active {
	color: #FFFFFF;
	font-weight: bold;
}
h1 {
	text-align: center;
}
input {
}
header {
	width: 100%;
	height: 5%;
	background-color: #52BAD5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #FFF;
	font-weight: bold;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.hero {
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.messageline {
	text-align: center;
	color: #000000;
	background-color: #FFF500;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.change_link {
	color: #E7DFDF;
}
.loginUsr {
	float: left;
	color: white;
	width: 100%;
	padding: 0 0 0 10px;
}
.text_column {
	width: 50%;
	font-weight: lighter;
	float: left;
	color: ;
}
.login {
	display: normal;
	width: 32%;
}
.register {
	display: inline-block;
	width: 32%;
}
.copyright {
	padding-left: 25px;
	padding-right: 25px;
	background-color: #5B5B5B;
	margin-top: 0px;
}
.actionBox {
	background-color: #7E7E7E;
	border-radius: 11px;
	width: 400px;
	height: 100%;
	margin: auto;
	padding: 0 20px 0px;
	color: #000000;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.loginUsernameField {
	width: 95px;
	float: left;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #8C8C8C;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.loginUser {
	padding: 0 0 0 49px;
}
.loginPassword {
	width: 75px;
	color: #FFFFFF;
	float: left;
	padding: 0 0px 0 18px;
}
.loginButton {
	width: 81px;
	float: left;
	padding: 0 0 0 10px;
}
.userCntrlLogin {
	font-size: 26px;
	color: #FFFFFF;
	font-family: Impact;
}
.userCntrlMoney {
	color: #FFFFFF;
	font-family: Impact;
	font-size: 26px;
	float: right;
}
.loginPasswordField {
	width: 95px;
	float: left;
}
.copyright {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
div.loginRegister {
	background-color: #3E2E2F;
	width: 100%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
div.tableHeader {
	background-color: #5E5E5E;
	border: 1px;
	margin: 0px 0px 0px 0;
	border-radius: 7px;
	padding: 10px;
	font-family: arial black;
	color: #000000;
}
div.tableRowEven {
	background-color: #090909;
	border: 1px;
	margin: 0px;
	color: #FFFFFF;
	vertical-align: middle;
}
div.tableRowOdd {
	background-color: #000000;
	border: 1px;
	margin: 0px;
	color: #FFFFFF;
	vertical-align: text-top;
}
div.pollQuery {
	border: 1px;
	margin: 0px;
}
div.orderList {
	border: 1px;
}
div.tableRowOdd:hover {
	background-color: rgba(191, 191, 191, 0.222);
	border: 1px;
	margin: 0px;
}
div.tableRowEven:hover {
	background-color: rgba(191, 191, 191, 0.222);
	border: 0px;
	margin: 0px;
}
span.orderItemButton {
	display: inline-block;
	width: 5%;
	border: 0px;
	margin: 0px;
	height: 100%;
}
span.orderItemNr {
	display: inline-block;
	width: 3%;
	border: 0px;
	margin: 0px;
	padding-top: 0;
	padding: 0 13px 0 0;
	vertical-align: middle;
}
span.orderItemName {
	display: inline-block;
	width: 27%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
span.orderItemIngredients {
	display: inline-block;
	width: 50%;
	border: 0px;
	margin: 0px;
	font-size: 11px;
	vertical-align: middle;
}
span.orderItemPrice {
	display: inline-block;
	width: 10%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
span.currentOrderBlank {
	display: inline-flex;
	width: 15%;
	border: 0px;
	margin: 0px 0px 0px 8%;
	vertical-align: middle;
}
span.currentOrderNr {
	display: inline-block;
	width: 2%;
	border: 0px;
	margin: 0px 20px 0px 0px;
	text-align: right;
	vertical-align: middle;
}
span.currentOrderName {
	display: inline-block;
	width: 20%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
span.currentOrderComment {
	display: inline-block;
	width: 30%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
div.currentOrderCommentTextfield {
	display: inline-block;
	width: 57%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
div.currentOrderCommentButton {
	display: inline-block;
	width: 40%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
span.currentOrderLogin {
	display: inline-block;
	width: 10%;
	border: 0px;
	margin: 0px;
	vertical-align: middle;
}
span.currentOrderPrice {
	display: inline-block;
	width: 5%;
	border: 0px;
	margin: 0px;
	text-align: right;
	vertical-align: middle;
}
span.orderIsPaid {
	display: inline-block;
	width: 10%;
	border: 0px;
	margin: 0px;
}
div.sumUpOrderHeader {
	background-color: #0BC60B;
	display: inline-block;
	width: 50%;
	border: 0px;
	margin: 0px 25%;
	text-align: center;
}
span.sumUpTxt {
	display: inline-block;
	width: 80%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
span.sumUpPrice {
	display: inline-block;
	width: 10%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
span.sumUpOrder {
	display: inline-block;
	width: 100%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
span.sumUpOrderItem {
	display: inline-block;
	width: 150px;
	border: 0px;
	margin: 0px 0px 0px 24px;
	text-align: left;
}
span.sumUpOrderItemCount {
	display: inline-block;
	width: 16px;
	border: 0px;
	margin: 0px 22px 0px 0px;
	text-align: right;
	padding: 0;
}
span.sumUpOrderItemNr {
	display: inline-block;
	width: 40px;
	border: 0px;
	margin: 0px;
	text-align: right;
}
div.historyList {
	border: 1px;
	margin: 0px;
}
div.historyItem {
	border: 1px;
	margin: 0px;
}
span.historyId {
	display: inline-block;
	width: 50px;
	border: 0px;
	margin: 0px;
}
span.historyTimestamp {
	display: inline-block;
	width: 150px;
	border: 0px;
	margin: 0px;
}
span.historyState {
	display: inline-block;
	width: 150px;
	border: 0px;
	margin: 0px;
}
span.historySupplier {
	display: inline-block;
	width: 100px;
	border: 0px;
	margin: 0px;
}
span.historyUserId {
	display: inline-block;
	width: 150px;
	border: 0px;
	margin: 0px;
	text-align: right;
}
span.historyDetails {
	display: inline-block;
	width: 100px;
	border: 0px;
	margin: 0px;
	text-align: right;
}
div.orderRefreshed {
	background-color: greenyellow;
	border: 2px;
	margin: 0px;
}
div.adminCntrlRow {
	background-color: greenyellow;
	border: 2px;
	margin: 0px;
}
span.adminCntrlItem {
	display: inline-block;
	width: 200px;
	border: 0px;
	margin: 0px;
}
span.adminUserLogin {
	display: inline-block;
	width: 24%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
span.adminUserIsAdmin {
	display: inline-block;
	width: 8%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
span.adminUserIsBank {
	display: inline-block;
	width: 7%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
span.adminUserResetcode {
	display: inline-block;
	width: 12%;
	border: 0px;
	margin: 0px;
	text-align: center;
}
div.infoMessageYellow {
	background-color: #E4FB00;
	display: inline-block;
	width: 100%;
	border: 1px;
	margin: 0px;
	text-align: center;
}
div.infoMessageGreen {
	background-color: #00C003;
	display: inline-block;
	width: 100%;
	border: 1px;
	margin: 0px;
	text-align: center;
}
div.infoMessageRed {
	background-color: #FF0004;
	display: inline-block;
	width: 100%;
	border: 1px;
	margin: 0px;
	text-align: center;
}
div.orderDeadline {
	background-color: #5E5E5E;
	border: 1px;
	margin: auto;
	padding: 0 10px;
	font-size: 15px;
	text-align: center;
	width: 80%;
	border-radius: 8px;
	color: #000000;
}
.orderEndingInfo {
	text-align: center;
}
div.orderArrival {
	background-color: greenyellow;
	border: 2px;
	margin: 0px;
	font-size: 15px;
	text-align: center;
}
div.orderDeadlineProgressBar {
	background-color: #C3C3C3;
	width: 75%;
	margin: auto;
	border-radius: 32px;
}
div.orderDeadlineProgressBarPosition {
	background-color: black;
	width: 50%;
	color: white;
	text-align: center;
	border-radius: 7px;
}
span.bankItemId {
	display: inline-block;
	width: 10%;
	border: 0px;
	margin: 0px;
}
span.bankItemTimestamp {
	display: inline-block;
	width: 20%;
	border: 0px;
	margin: 0px;
}
span.bankItemCustomer {
	display: inline-block;
	width: 20%;
	border: 0px;
	margin: 0px;
}
span.bankItemBanker {
	display: inline-block;
	width: 20%;
	border: 0px;
	margin: 0px;
}
span.bankItemAmount {
	display: inline-block;
	width: 20%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
input[type=button], input[type=submit], input[type=reset] {
	cursor: pointer;
}
.userControlpanel {
	width: 100%;
	background: #000000;
}
.userCntrlLink {
}
input[type=text] {
	background-color: #FFFFFF;
	background-image: url('searchicon.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left: 0px;
	height: ;
	width: 80%;
}
.btnDelete {
	height: 32px;
	width: 32px;
	background-image: url('../images/delete.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
	vertical-align: middle;
}
.btnDelete:hover {
	height: 32px;
	width: 32px;
	background-image: url('../images/delete_hover.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnBuy {
	height: 32px;
	width: 32px;
	background-image: url('../images/buy.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
	vertical-align: middle;
}
.btnBuy:hover {
	height: 35px;
	width: 35px;
	background-image: url('../images/buy_hover.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.bank {
	width: 85%;
	background: #F7E402;
	border-radius: 7px;
	margin: auto;
	color: black;
}
.discountInfo {
	background: #1DAE03;
	border-radius: 5px;
	text-align: center;
	width: 82%;
	margin: auto;
	font-size: 15px;
	color: #000000;
}
.discountPayoutInfo {
	font-size: 26px;
}
.bankTransfer {
	font-family: Impact;
	font-size: 22px;
	text-align: center;
}
.bankHeader {
	background: #000000;
	color: #FFFFFF;
	text-align: right;
	font-family: Verdana;
	font-size: 16px;
}
.btnvPay {
	height: 32px;
	width: 32px;
	background-image: url('../images/vpay.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
	vertical-align: middle;
}
.btnvPay:hover {
	height: 32px;
	width: 32px;
	background-image: url('../images/vpaid.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}
.btnPay {
	height: 32px;
	width: 32px;
	background-image: url('../images/pay.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnPay:hover {
	height: 32px;
	width: 32px;
	background-image: url('../images/paid.svg');
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	background-size: cover;
	color: rgba(27, 255, 2, 0.957);
}

.btnPayNfo {
	height: 32px;
	width: 32px;
	background-image: url('../images/pay.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}

.btnSave {
	height: 32px;
	width: 32px;
	background-image: url('../images/save.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnSave:hover {
	height: 32px;
	width: 32px;
	background-image: url('../images/save_hover.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnPaid {
	height: 32px;
	width: 32px;
	background-image: url('../images/paid.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnPaid:hover {
	height: 32px;
	width: 32px;
	background-image: url('../images/pay.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnPaidNfo {
	height: 32px;
	width: 32px;
	background-image: url('../images/paid.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
.btnvPaid {
	height: 32px;
	width: 32px;
	background-image: url('../images/vpaid.svg');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: cover;
}
input[type=text] {
	padding: 0px;
	border: 1px solid #CCC;
	border-radius: 2px;
	width: 100%;
}
.userInfo {
	width: 100px;
}
.loginUsername {
	width: 50px;
	float: left;
	color: #FFFFFF;
}
.loginUsernameField {
	float: inside;
}
input[type=password] {
	padding: 0px;
	border: 1px solid #CCC;
	border-radius: 2px;
	width: 100%;
}
div.sumUpOrder {
	width: 80%;
	margin: auto;
}
